body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #a5bdcc;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 34px;
	margin: 0;
	color: #FFF;
	font-weight: 400;
	margin-bottom: 15px;
	font-size: 34px;
	text-transform: uppercase;
}
h3, h4 {
	color: #A5BDCC;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #222;
}
a:hover, a:focus {
	text-decoration: none;
	color: #00B3FF;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
ul, ol, li {
	text-align: center;
	margin-top:10px;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b3ff+0,0055ff+100&0.85+0,0.85+100 */
background: -moz-linear-gradient(left, rgba(0,179,255,0.85) 0%, rgba(0,85,255,0.85) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,179,255,0.85) 0%,rgba(0,85,255,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,179,255,0.85) 0%,rgba(0,85,255,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d900b3ff', endColorstr='#d90055ff',GradientType=1 ); /* IE6-9 */
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 99; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */

.sidenav img{
	padding: 25px 0 25px 0;
	width: 75%;
	border-radius: 50%;
	display: block;
   	margin-left: auto;
  	margin-right: auto;
}
.sidenav h3 {
    text-decoration: none;
    color: #1f2833;
    display: block;
	font-size: 16px;
	text-align:center;
}
.sidenav .signature{
	width: 90%;
	position: absolute;
	bottom: 0px;
}
.sidenav .signature img{
	width: 100%;
	border-radius: 0px;
	padding-left: 25px;
	margin-left: auto;
  	margin-right: auto;
}

/* When you mouse over the navigation links, change their color */
.sidenav h3:hover {
    color: #f1f1f1;
}

#main{
	margin-left:20%;
}

/* text Animation*/
.content {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.content__container:before {
  content: "[";
  left: 0;
}
.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  line-height: 40px;
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%,
  12.66%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
/* Navigation */
#nav {
	z-index: 9999;
}

.navbar-brand {
  display: none;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
	padding-right: 25px;
}
.navbar-custom {
	margin-bottom: 0;
	background-color: #0b0c10;
	border-radius: 0px;
	/*padding: 10px 0;*/
}
.navbar-custom .navbar-brand {
	font-weight: 600;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #aaa;
}
.navbar-custom .nav li a {
	margin: 0 20px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-right: 0px;
    margin-right: 0px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #00b3ff;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #00b3ff;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.navbar-toggle{
	position:relative;
	float: right;

}
.menu-toggle {
	z-index: 2;
	background: none;
	height: 32px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	width: 20px;
}
.expand{
	z-index:1;
	position:relative;
	background:none;
	height: 32px;
	width: 20px;
	border-radius: 0px;
	transition:  width 0.5s ease-out, transform 0.1s linear;
    -webkit-transition:  width 0.5s ease-out, transform 0.1s linear;
	position:absolute;
    bottom:0;right:0;
}
.expand.open{
	border-radius: 50px;
	background: linear-gradient(to right,rgba(0,179,255,0.2), rgba(0,179,255,0.8)30%,rgba(0,179,255,1)80%);
	width: 350px;
	-ms-transform: scale(1.5,2.5); /* IE 9 */
    -webkit-transform: scale(1.5,2.5); /* Safari */
    transform: scale(1.5,2.5);
}
	
.menu-toggle i,
.menu-toggle i:after,
.menu-toggle i:before {
	z-index: 2;
	display: block;
	position: absolute;
	height: 3px;
	width: 20px;
	right: 0;
	background: #FFF;
	border-radius: 2px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.menu-toggle i:after,
.menu-toggle i:before {
	content: '';
}
.menu-toggle i:after {
	top: -32px;
}
.menu-toggle i:before {
	top: -16px;
}
.menu-toggle i {
	top: 32px;
}
.menu-toggle.second i,
.menu-toggle.second i:after,
.menu-toggle.second i:before {
  width: 20px;
  border-radius: 0px;
}
.menu-toggle.second i:nth-child(1):after {
	top: 7px;
}
.menu-toggle.second i:nth-child(1):before {
	top: -7px;
}
.menu-toggle.second i:nth-child(1) {
	top: 6.5px;
  right: 0;
}
.menu-toggle.second i:nth-child(2):after {
	top: 7px;
}
.menu-toggle.second i:nth-child(2):before {
	top: 7px;
}
.menu-toggle.second i:nth-child(2) {
	top: 7px;
}
.menu-toggle.second.open i:nth-child(1) {
	right: 15px;
}
.menu-toggle.second.open i:nth-child(2) {
	right: -15px;
}
.menu-toggle.second.open i:before {
	top:0px
}
.menu-toggle.second.open i:after {
	top:0px
}
.menu-toggle.second.open i:nth-child(1):before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  right: -15px;
}
.menu-toggle.second.open i:nth-child(1):after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  right: -15px;
}
.menu-toggle.second.open i:nth-child(2):after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  right: 15px;
}
.menu-toggle.second.open i:nth-child(2):before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  right: 15px;
}
.btn-default {
	color: rgba(255,255,255,0.8);
	background-color: transparent;
	border: 2px solid rgba(255,255,255,0.5);
	padding: 12px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	text-transform: uppercase;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #222;
	border-color: #222;
}
.btn-primary {
	color: #00b3ff;
	background-color: transparent;
	padding: 12px 20px;
	border: 2px solid #00b3ff;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #00b3ff;
	border-color: #00b3ff;
}
.btn-primary i.fa {
	margin-right: 10px;
	margin-left: 10px;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Home Section */
.intro {
	display: table;
	align: right;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4da8+0,4977c2+100&0.85+0,0.85+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b3ff+0,0055ff+43,ff2356+100&0.5+0,0.85+100 */
background: -moz-linear-gradient(45deg, rgba(0,179,255,0.5) 0%, rgba(0,85,255,0.65) 43%, rgba(255,35,86,0.85) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(0,179,255,0.5) 0%,rgba(0,85,255,0.65) 43%,rgba(255,35,86,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(0,179,255,0.5) 0%,rgba(0,85,255,0.65) 43%,rgba(255,35,86,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8000b3ff', endColorstr='#d9ff2356',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: inherit;
}
.section-title.center {
	padding: 25px 0 45px 0;
}
/* About Section */
#about {
	padding: 100px 0;
	background: #1f2833;
}
#about .about-text {
	margin-left: 10px;
}
#about img {
	float: right;
	width: inherit;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align:justify;
}
ol.type1 li {
	display: inline-block;
	text-transform: uppercase;
}
ol.type1 li a {
	margin-left: 20px;
	margin-right: 20px;
	background: transparent;
	border: 2px solid #00b3ff;
	color: #00b3ff;
	padding: 10px 20px;
}
ol.type1 li a.active {
	background: #00b3ff;
	color: #fff;
}
ol.type1 li a:hover {
	background: #00b3ff;
	color: #fff;
}
/* Skills Section */
#skills {
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b3ff+0,0055ff+100 */
	background: rgb(0,179,255); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(0,179,255,1) 0%, rgba(0,85,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(0,179,255,1) 0%,rgba(0,85,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(0,179,255,1) 0%,rgba(0,85,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3ff', endColorstr='#0055ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*#skills .section-title.center{
	font-weight: bold;
}*/
.readmore + [data-readmore-toggle], .readmore[data-readmore]{
	margin-left: auto;
	margin-right: auto;
}
.readmore + [data-readmore-toggle], .readmore[data-readmore] .a{
	max-width: 200px;
	color: rgba(255,255,255,0.8);
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    padding: 12px 20px;
    margin: 0;
    font-size: 15px;
    border-radius: 0;
    text-transform: uppercase;
}
#myDIV {
	display:none;
}
#skills h3{
	color:#fff;
	text-shadow: 1px 2px 5px rgba(0,0,0,0.3)
}
#skills h2 {
	color: #fff;
	text-shadow: 1px 2px 5px rgba(0,0,0,0.3);
}
#skills hr {
	background: rgba(255,255,255,0.5);
}
#skills .skill {
	margin-bottom: 40px;
	text-align: center;
	padding: 0px;
}
#skills .skill h4 {
	font-weight: 600;
	color: #fff;
	font-size: 18px;
	text-shadow: 1px 2px 5px rgba(0,0,0,0.3)
}
.chart {
	position: relative;
	display: inline-block;
	width: 140px;
	height: 140px;
	margin-bottom: 26px;
	text-align: center;
	text-shadow: 1px 2px 5px rgba(0,0,0,0.3);
}
.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.percent {
	display: inline-block;
	font-size: 21px;
	color: #fff;
	line-height: 140px;
	z-index: 2;
}
.percent:after {
	content: '%';
	margin-left: 0.1em;
	font-size: .8em;
}

/* Projects Section */
#projects {
	padding: 100px 0;
	background: #1F2833;
}
#projects blockquote {
	position: relative;
	margin-top: 20px;
	border: 0;
	text-align: center;
	background: rgb(0,179,255); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(0,179,255,1) 20%, rgba(0,85,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(0,179,255,1) 20%,rgba(0,85,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(0,179,255,1) 20%,rgba(0,85,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3ff', endColorstr='#0055ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 30px 20px;
}
#projects p {
	color: #FFF;
	margin-bottom: 14px;
	letter-spacing: 1px;
}
#projects img{
	border: 5px solid #FFFFFF;
	height: 250px;
	width:100%;
}
#projects .clients-name {
	display: inline-block;
	border-top: 1px solid #fff;
	padding-top: 20px;
	margin-top: 10px;
}
#projects .clients-name p{
	color: #1F2833;
}
/* Work Experience Section */
#workexperience {
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b3ff+0,0055ff+100 */
	background: rgb(0,179,255); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(0,179,255,1) 0%, rgba(0,85,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(0,179,255,1) 0%,rgba(0,85,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(0,179,255,1) 0%,rgba(0,85,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3ff', endColorstr='#0055ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#workexperience h2 {
	color: #fff;
}
#workexperience hr {
	background: rgba(255,255,255,0.5);
}
.workexperience-box h4 {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin-left: 5px;
	text-transform: uppercase;
}
.workexperience-box span.count {
	font-size: 52px;
	font-weight: 600;
	display: block;
	color: rgba(255,255,255,0.8);
	padding: 0;
	margin: 0;
}
/* Timeline Section */
#mytimeline {
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b3ff+0,0055ff+100 */
	background: rgb(0,179,255); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(0,179,255,1) 0%, rgba(0,85,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(0,179,255,1) 0%,rgba(0,85,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(0,179,255,1) 0%,rgba(0,85,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3ff', endColorstr='#0055ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#mytimeline h2 {
	color: #fff;
}
#mytimeline hr {
	background: rgba(255,255,255,0.5);
}
/*
.timeline-box h4 {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin-left: 5px;
	text-transform: uppercase;
}
.timeline-box span.count {
	font-size: 52px;
	font-weight: 600;
	display: block;
	color: rgba(255,255,255,0.8);
	padding: 0;
	margin: 0;
} */
/* timeline*/
body_t * {
  box-sizing: border-box;
}
.timeline {
  width: 100%;
  background: #fff;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #a5bdcc;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  border: 1px  dotted white;
  width: 3px;
  height: 3px;
  background-color: #0b0c10;
  box-sizing: border-box;
  transform: scale(5);
  top: 25%;
  right: -1px;
  z-index: 99;
}
.entry .title h3 {
  margin: 0;
  font-size: 120%;
  color: #1f2833;
}
.entry .body_t {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body_t p {
  line-height: 1.4em;
  color: #00b3ff;
}
.entry .body_t p:first-child {
  margin-top: 0;
  font-weight: 400;
  color: #596770;
}
/* achievements Section */
#achievements {
	padding: 100px 0;
	background: #1f2833;
}
#achievements blockquote {
	position: relative;
	margin-top: 20px;
	border: 0;
	text-align: center;
	background: #0b0c10;
	padding: 30px 20px;
}
#achievements i {
	font-size: 24px;
	color: #a5bdcc;
	margin-bottom: 14px;
}
#achievements .clients-name {
	display: inline-block;
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 10px;
}
/* Contact Section */
#contact {
	color: #fff;
	background: url(../img/contact-bg.jpg) no-repeat center top;
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#contact .overlay {
	padding: 100px 0 40px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b3ff+0,0055ff+100 */
	background: rgb(0,179,255); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(0,179,255,0.5) 0%, rgba(0,85,255,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(0,179,255,0.5) 0%,rgba(0,85,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(0,179,255,0.5) 0%,rgba(0,85,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3ff', endColorstr='#0055ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#contact h2 {
	color: #fff;
}
#contact hr {
	background: rgba(255,255,255,0.5);
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 30px 0;
}
#contact i.fa {
	color: #121d1f;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #222;
	background-color: rgba(255,255,255,0.6);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .btn {
	margin-top: 20px;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #121d1f;
}
/* Footer Section*/
#footer {
	background: #222;
	color: #777;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #aaa;
}
#footer a:hover {
	color: #526cbb;
}

/* Media Queries */
@media (max-width: 1367px) {
#main {
	margin-left: 12%;
}
.sidenav {
	width: 12%;
}

.sidenav h3 {
    text-decoration: none;
    color: #1f2833;
    display: block;
	font-size:10px;
	text-align:left;
	padding-left: 25px;
}
.sidenav .signature{
	width: 90%;
	position: absolute;
	bottom: 0px;
}
}

@media(min-width: 768px) {
.intro {
	height: 100%;
	padding: 0;
	color: #fff;
}
.intro H1 {
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
}
.intro .intro-text p {
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
	letter-spacing: 2px;
}
section {
	padding: 120px 0;
}
header .intro-text {
	padding-top: 250px;
	padding-bottom: 150px;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
#nav.affix .navbar .navbar-collapse {
	text-align: start;
}
.navbar-custom {
	padding: 10px 0;
}
}
@media (max-width: 1119px) {
#about img {
	float: left;
	margin-bottom: 20px;
}
#nav.affix {
	position: fixed;
	bottom: 0;
	width: 100%
}
.affix-top {
  position: fixed;
  bottom: 0;
  width: 100%;
}
header .intro-text {
	padding-top: 250px;
}
.intro {
	height: 800px;
	background: url(../img/intro-bg.jpg) no-repeat 27% center;
}
#main {
	margin-left: 0px;
}
.sidenav {
	visibility: hidden;
}
.navbar .navbar-collapse {
	text-align: right;
}
.navbar-brand {
  display: block;
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
  padding-bottom: 0;
}
}


